#root {
  height: 100%;
}

#app {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: auto 100px;
  grid-template-columns: 100%;
}
