.fade-in {
  animation: animation-fade-in 0.5s;
}
.fade-out {
  animation: animation-fade-in 0.5s;
}

.fade-in-slow {
  animation: animation-fade-in-slow 2s;
}

.fade-in-translate {
  animation: animation-fade-in-translate 1.2s;
}

.fade-in-translate-slow-top {
  animation: animation-fade-in-translate-top 2s;
}
.fade-in-translate-vslow-top {
  animation: animation-fade-in-translate-top 5s;
}
.fade-in-translate-vvslow-top {
  animation: animation-fade-in-translate-top 6s;
}
.fade-in-translate-slow-bottom {
  animation: animation-fade-in-translate-bottom 2s;
}

@keyframes animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animation-fade-in-translate-top {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animation-fade-in-translate-bottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animation-fade-in-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left-underline {
  position: relative;
  padding-bottom: 10px;
}

.left-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $accent-color-medium;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.left-underline:hover:before {
  visibility: visible;
  width: 100%;
}
