@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Antic+Slab");

$title-font: "Cormorant Garamond";
$main-font: "Cormorant Garamond";
$main-font-color: black;
$accent-color-dark: rgb(54, 52, 54);
$accent-color-medium: #909699;
$accent-color-light: #dadcdd;
$sub-accent-color: rgb(36, 36, 36);

$nav-bar-height: 65px;
$nav-bar-height-mobile: 70px;

$image-border-radius: 0px;
