@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Sans:wght@100;200&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Sans:wght@100;200&family=Source+Code+Pro:wght@300&display=swap");

$title-font: "Cormorant Garamond";
$main-font: "Josefin Sans";

$accent-color-dark: rgb(54, 52, 54);
$accent-color-medium: #909699;
$accent-color-light: #dadcdd;
$accent-color-vlight: rgb(236, 236, 236);
$sub-accent-color: rgb(36, 36, 36);

$nav-bar-height: 65px;
$nav-bar-height-mobile: 70px;

$image-border-radius: 0px;

$header-footer-color: white;
// rgb(235, 236, 238)
